#root {
  height: 100vh;

}

.App {
  /*text-align: center;*/
  height: 99%;
  overflow: hidden;
}

.api-tool {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.editor {
  flex-grow: 5;
  background-color: aliceblue;
  margin: 2px;
  height: 99%;
}
.swagger-ui {
  flex-grow: 1;
  background-color: aliceblue;
  margin: 2px;
  height: 99%;
  overflow: auto;
}
